@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .booking
    margin-bottom: 20px
  .card
    width: 230px
    height: 230px
  .packages
    display: flex
    justify-self: center
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, 350px)
      

@media ( max-width: 992px )
  .container .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &__search
      margin-left: auto
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      &__list
        padding-top: 22px
        padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    flex-basis: 48%
  .map
    flex-basis: 48%
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
      justify-content: center
    &__card
      margin-bottom: 20px
    &__card:nth-child(2n+1)
      margin-right: 20px
    &__title
      margin-left: 35px
  .card
    width: 340px
    height: 255px
  .packages
    padding: 20px 0 50px
    &__title
      margin-bottom: 45px
      font-size: 24px
      line-height: 30px
@media ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
    &__search, &__user
      display: none
    &-menu
      &__list
        display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: content
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-slider
      height: 350px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px

      &__offer
        order: -1
        margin-left: 0
      &__rating
        display: none
  .booking
    flex-basis: 48%
  .map
    flex-basis: 48%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 47%
    height: 255px
  .packages
    &-wrapper
      grid-template: repeat(5, 500px)/1fr
    &-active
      grid-column: 1/2
      flex-direction: column
  .active
    &__text
      display: none
    &__description
      padding: 23px 21px 25px 32px

@media ( max-width: 650px )
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    flex-basis: 100%
    width: 100%
  .map
    flex-basis: 100%
    width: 100%
    &-slider
      height: 300px
  

@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 100%
  .activities
    &__card:nth-child(2n+1)
      margin-right: 0



  